<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link type="text/html" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-landing.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Welcome - John Doe!</title>
</head>

<body>
    <nav class="navbar navbar-expand-custom navbar-light navbar-shadow">
        <a class="navbar-brand" href="#"><img class="brandLogo" src="{% static 'images/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon p-0"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index1.html">Home</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="missioned.in">MssionED-Website</a>
                </li>
               
                <br>
                <li class="nav-item my-auto">
                    <a class="signup" href="#"> <span>
                            <h5 class="my-auto">Contact</h5>
                        </span></a>
                </li>
                <br>
            </ul>
        </div>
    </nav>

    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-md-6 center">
                <img class="logo d-none d-sm-block" src="{% static 'images/logo.png' %}">
                <div class="toggler">
                    <div class="toggle-btn-box">
                        <div class="active-btn" id="active-btn"></div>
                        <button type="button" class="toggle-btn" onclick="login()">Register</button>
                        <button type="button" class="toggle-btn" onclick=""></button>
                    </div>
                </div>
                <div class="button d-none d-sm-block">
                    <div class="row">
                        <div class="col-6">
                            <a href="#"><img src="{% static 'images/google-play-badge.png' %}" class="downBtn"></a>
                        </div>
                        <div class="col-6">
                            <a href="#"><img src="{% static 'images/apple.png' %}" class="downBtn"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 center">
                {% block content %}
                <form class="loginForm center" id="loginForm">
                    <h5 class="text-center">Welcome! Fill in details to start your MSAT</h5>
                    <div class="form-group center">
                        <input type="text" class="form-control" id="name" name="" placeholder="Full Name">
                    </div>
                    <div class="form-group center">
                        <input type="email" class="form-control" id="username" name="" placeholder="Username/Email">
                    </div>
                    <div class="form-group center">
                        <input type="text" class="form-control" id="class" name="" placeholder="Class">
                    </div>
                    <div class="form-group center">
                        <input type="tel" class="form-control" id="phone" name="" placeholder="Phone Number">
                    </div>
                    <div class="form-group center">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group center">
                        <input type="password" class="form-control" id="Confpassword" placeholder="Confirm Password">
                        <div class="d-flex">
 
                        </div>
                    </div>
                    <div class="form-group center">
                        <button class="btn btn-primary btn-block mt-3" type="submit">Sign Up</button>
                        <a href="#" class="btn btn-primary contactbtn mt-2">Contact for Help</a>
                    </div>
                </form>
                <form class="signupForm center" id="signupForm">
                    <h5 class="text-center">Welcome! Let's get started</h5>
                    <div class="form-group center">
                        <input type="text" class="form-control" id="name" name="" placeholder="Full Name">
                    </div>
                    <div class="form-group center">
                        <input type="email" class="form-control" id="username" name="" placeholder="Username/Email">
                    </div>
                    <div class="form-group center">
                        <input type="text" class="form-control" id="class" name="" placeholder="Class">
                    </div>
                    <div class="form-group center">
                        <input type="tel" class="form-control" id="phone" name="" placeholder="Phone Number">
                    </div>
                    <div class="form-group center">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group center">
                        <input type="password" class="form-control" id="Confpassword" placeholder="Confirm Password">
                        
                    </div>
                    <div class="form-group center">
                        <button class="btn btn-primary btn-block mt-3" type="submit">Sign Up</button>
                        <a href="#" class="btn btn-primary contactbtn mt-2">Contact for Help</a>
                    </div>
                </form>
                {% endblock %}
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer-upper">
            <div class="row mb-1">
                <div class="col-md-6 col-12">
                    <div class="row">
                        <div class="col-12">
                            <img class="img-responsive" src="{% static 'images/logo.png' %}">
                            <p class="mx-2">One of India's fastest growing edtech startups, MissionEd provides online
                                tutoring services for classes 8-12.</p>
                        </div>
                        <div class="col-12 mx-1">
                            <a href="https://www.linkedin.com/company/missioned/"
                                class="fab fa-linkedin fa-2x mx-1"></a>
                            <a href="https://www.facebook.com/MissionEd2020" class="fab fa-facebook fa-2x mx-1"></a>
                            <a href="https://www.instagram.com/mission_ed/" class="fab fa-instagram fa-2x mx-1"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <h5>Quick Links</h5>
                    <a href="#">Home</a><br>
                    <a href="#">Courses</a><br>
                    <a href="#">About Us</a><br>
                    <a href="#">Contact Us</a><br>
                    <a href="#">Become a Contributer</a><br>
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <h5>Contact Us</h5>
                    <a href="#" style="cursor: none;">+91-9674037142</a><br>
                    <a href="mailto:contact@missioned.in">contact@missioned.in</a><br>
                    <a href="https://www.bing.com/maps?where=Kolkata%2C%20West%20Bengal%20700060%2C%20IN">Kolkata, West
                        Bengal, 700060, India</a>
                </div>
                <div class="col-lg-2 col-md-6 col-12 mt-3 d-flex justify-content-center"
                    style="flex-direction: column;">
                    <a href="#">Terms & Conditions</a>
                    <a href="#">FAQ</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom my-auto">
            <div class="row">
                <div class="col-md-6 col-12 text-white text-center">
                    All Rights Reserved | MissionEd 2020
                </div>
                <div class="col-md-6 col-12 text-white my-auto d-flex justify-content-end">
                    <a href="#">Privacy Policy</a>
                    <a href="#" class="px-5">Site Credits</a>
                </div>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script>
        const loginForm = document.getElementById("signupForm");
        const signupForm = document.getElementById("loginForm");
        var active = document.getElementById("active-btn");

        console.log(active);
        function signup(){
            active.style.left = "114px";
            loginForm.style.display = "none";
            signupForm.style.display = "block";
        }
        function login(){
            active.style.left = "0";
            signupForm.style.display = "none";
            loginForm.style.display = "block";
            
        }
    </script>
</body>

</html>